.skrollr{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.easing {
	width:310px;
	height: 250px;
	z-index:101;
	position: fixed;
}

.drop {
	width: 200px;
	position: fixed;
}
